{% extends "base.html" %}

{% block title %}Home{% endblock %}

<!-- Content block -->
<div class="content">
    {% block content %}
   <!-- Hero Section -->
<section id="hero" class="hero section">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="zoom-out">
          <h1 class="">Welcome to Rizack: The Ultimate Point of Sale System for Your Business</h1>
          <p class="">Streamline Your Sales and Boost Your Business Efficiency</p>
          <div class="d-flex">
            <a href="/Register" class="btn-get-started">Get Started</a>
            
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="/static/images/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- /Hero Section -->
    {% endblock %}
</div>
</div>
